[submodule "library"]
	path = library
	url = /slamdunk/yicker/
[submodule "static/owlcarousel"]
	path = static/owlcarousel
	url = https://github.com/OwlCarousel2/OwlCarousel2.git
[submodule "static/font-awesome"]
	path = static/font-awesome
	url = https://github.com/FortAwesome/Font-Awesome.git
[submodule "static/jquery"]
	path = static/jquery
	url = https://github.com/jquery/jquery.git
[submodule "static/bootstrap"]
	path = static/bootstrap
	url = https://github.com/twbs/bootstrap.git
